* {
    margin: 0px;
    padding: 0px;
}

body { 
    text-align: center; 
}

#page { 
    width: 960px; margin: 15px auto; text-align: left; 
}

h1 { 
    font: bold 2em verdana, sans-serif; 
}
h2 { 
    font: bold 1.5em verdana, sans-serif; 
}
h3 { 
    font: bold 1em verdana, sans-serif;
 }

 #header { 
     background: #FFFBB9; 
     border: 1px solid #999999; 
     padding: 20px; 
    }

#nav { 
    background: #CCCCCC; 
    padding: 5px 15px; 
}
#nav li { 
    display: inline; 
    list-style: none; 
    padding: 5px; 
    font: bold 14px verdana, sans-serif; 
    cursor:default;
}

#nav a { 
    text-decoration:none; 
}

#nav a:hover { 
    color: white; 
}

#content { 
    float: left; 
    width: 660px; 
    margin: 20px; 
}
#aside { 
    float: left; 
    width: 220px; 
    margin: 20px 0px; 
    padding: 20px; 
    background: #CCCCCC; 
}

#footer { 
    clear: both; 
    text-align: center; 
    padding: 20px; 
    border-top: 2px solid #999999; 
}

.article { 
    background: #FFFBCC; 
    border: 1px solid #999999; 
    padding: 20px; 
    margin-bottom: 15px; 
}

.article_header { 
    border-bottom: 1px solid #999999; 
}

.article_footer { 
    text-align: right; 
}

.time { 
    color: #999999; 
}

.figure { 
    border: 1px double #999999; 
    padding: 5px; 
}

.figure .figcaption { 
    font: italic 0.6em verdana, sans-serif; 
}